html, body{
	margin : 0;
	width : 100%;
	height : 100%;
}

section{
	margin : 0;
	width : 100%;
	height : 100%;
	display : flex;
	justify-content : center;
	align-items : center;
}

.mainSection{
	text-align : center;
	width : 800px;
	height : 600px;
	border : 1px solid black;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
