table{
		width : 800px;
		height : 600px;
		border-collapse : collapse;
	}

	table th,td{
		border : 1px solid black;
		vertical-align : middle;
	}
.home{
	height : 0px;
}

.home img{
	width : 25px;
	z-index : 2;
	position : relative;
	left : -47%;
	top : 10px;
}

.home div{
	position : relative;
	left : -47%;
	top : 3px;
}

.home label:hover{
	cursor : pointer;
}
