.mainSection{
	animation : fadein 4s;
	-webikt-animation : fadein 4s;
}

@-webkit-keyframes fadein{
	from{
		opacity : 0;
	}
			
	to {
		opacity : 1;
	}
}

#me>img{
	width : 100px;
}

#me{
	margin : auto;
	display : block;
	width : 100px;
	position : relative;
	top : 44%;
}

.menu{
	border : 1px solid black;
	width : 250px;
	height : 120px;
	border-radius : 65px;
}

.porfolio{
	margin : 0;
	display : inline-block;
	position : relative;
	top : -13%;
}

.menu2{
	position : relative;
	bottom : -33%;
}

.skill{
	margin : 0;
	display : inline-block;
	position : relative;
	left : -10%;
}

.about{
	margin : 0;
	display : inline-block;
	position : relative;
	right : -10%;
	top: -82px;
}

.line{
	background-color : black;
	width : 90px;
	height : 5px;
}

.top{
	display :inline-block;
	position : relative;
	top : -455px;
	left : 12%;
	transform : rotate(90deg);
}

.left{
	display :inline-block;
	position : relative;
	top : -250px;
	left : -11%;
	transform : rotate(-45deg);
}

.right{
	display :inline-block;
	position : relative;
	top : -250px;
	right : 1%;
	transform : rotate(45deg);
}

.title{
	font-size : 1.2rem;
}

.skills{
	display : inline-block;
	background-color : 	#40E0D0;
	border-radius : 5px;
	margin : 2px 1px 2px 1px;
}

.skillAll{
	margin-top : 10px;
}

.projectLogo{
	display : inline-block;
}

.projectLogo img{
	width : 45%;
	position : relative;
	top : -10px;
}

.projectLogo img:hover{
	cursor : pointer;
}

#UMocha{
	position : relative;
	top : -45px;
}
