.mainSection{
	animation : fadein 4s;
	-webikt-animation : fadein 4s;
}

@-webkit-keyframes fadein{
	from{
		opacity : 0;
	}
			
	to {
		opacity : 1;
	}
}

#me>img{
	width : 100px;
}

#me{
	margin : auto;
	display : block;
	width : 100px;
	position : relative;
	top : 42%;
}

.menu{
	border : 1px solid black;
	width : 250px;
	height : 120px;
	border-radius : 65px;
}

.porfolio{
	margin : 0;
	display : inline-block;
	position : relative;
	top : -13%;
}

.menu2{
	position : relative;
	bottom : -37%;
}

.skill{
	margin : 0;
	display : inline-block;
	position : relative;
	left : -10%;
}

.about{
	margin : 0;
	display : inline-block;
	position : relative;
	right : -10%;
}

.line{
	background-color : black;
	width : 150px;
	height : 5px;
}

.top{
	display :inline-block;
	position : relative;
	top : -300px;
	transform : rotate(90deg);
}

.left{
	display :inline-block;
	position : relative;
	top : -120px;
	left : -20%;
	transform : rotate(-45deg);
}

.right{
	display :inline-block;
	position : relative;
	top : -120px;
	right : -20%;
	transform : rotate(45deg);
}
