#main{
	width : 100%;
	height : 100vh;
	text-align : center;
	cursor : pointer;
}

#mainText{
	position : relative;
	top : 40%;
	font-size : 2rem;
}

@keyframes blink-effect{
  	50%{
     		opacity : 0;
  	}
}

#pClick{
	position : relative;
	top : 55%;
	font-size : 3rem;
}

.blink{
	animation: blink-effect 1s step-end infinite;
}
