section{
	display : flex;
	justify-content : center;
	align-items : center;
}

.mainSection{
	text-align : center;
	width : 800px;
	height : 600px;
	border : 1px solid black;
}

#main{
	width : 100%;
	height : 100%;
	cursor : pointer;
}

#mainText{
	position : relative;
	top : 40%;
	font-size : 2rem;
}

@keyframes blink-effect{
  	50%{
     		opacity : 0;
  	}
}

#mainPClick{
	position : relative;
	top : 55%;
	font-size : 3rem;
}

.blink{
	animation: blink-effect 1s step-end infinite;
}
